<div class="card-text" data-key="<%= introduction.key %>">
  <div class="card-head"><%= introduction.content %></div>
  <div class="card-subhead"><%= format_serial(introduction.serial) %> • <%= format_date(introduction.expected_delivery) %> <% if recipient.email %>• <%= mail_to (URI.escape "\"%s\"<%s>" % [recipient.name, recipient.email]), recipient.email %><% end %></div>
</div>
