<p id="notice"><%= notice %></p>

<div class="card-self">
  <img src="<%= image_url('card.png') %>" class="card" />
  <div class="card-label card-label-left"><%= format_serial %></div>
</div>

<%= form_for @introduction, :url => url_for(:controller => 'introductions', :action => 'update', :key => @introduction.key), method: :put do |f| %>

  <div class="form-container">
    <% if @sender.errors.any? %>
      <div class="error-explanation error-explanation-confirm">
        <h2><%= pluralize(@sender.errors.count, "error") %> prohibited this  from being saved:</h2>
        <ul>
        <% @sender.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.fields_for :sender, @sender do |c| %>
      <%= c.hidden_field :uuid %>

      <%= c.label :email, "Your email"%>
      <%= c.text_field :email, :autofocus => true, :placeholder => "#{@sender.name.downcase.delete(' ')}@example.com" %>
    <% end %>
  </div>

  <div class="form-container form-inset">
    <div>
    <!--<div class="form-inset-block">
      <h3>Find address by name</h3>

      <div class="form-group">
        <div style="width:65%;">
          <label>Name</label>
          <input type="text" />
        </div>

        <div style="width:35%;">
          <label>Location</label>
          <input type="text" id="address-location" placeholder="city, state, …" />
        </div>
      </div>
      </div>-->

      <!--<div class="form-inset-block">-->
      <h3>Find a workplace address</h3>

      <label>Business name</label>
      <input type="text" placeholder="" id="google-autocomplete" autocomplete="off"/>
    </div>

    <div class="form-inset-seperator">
      <span class="form-inset-seperator-content">Or</span>
    </div>
    <div>
      <h3>Use a personal address</h3>

      <div class="form-inset-content">Progress saved — you can come back later</div>
      <!--</div>-->
    </div>
  </div>

  <div class="form-container">
    <% if @recipient.errors.any? %>
      <div class="error-explanation error-explanation-confirm">
        <h2><%= pluralize(@recipient.errors.count, "error") %> prohibited this  from being saved:</h2>
        <ul>
        <% @recipient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.fields_for :recipient, @recipient do |c| %>
      <%= c.hidden_field :uuid %>

      <%= c.label :name, "Recipient name" %>
      <%= c.text_field :name %>

      <%= c.label :street_line1, "Address" %>
      <%= c.text_field :street_line1, :placeholder => "1 Infinite Loop" %>
      <%= c.text_field :street_line2 %>

      <div class="form-group">
        <div style="width:55%;">
          <%= c.label :city, "City" %>
          <%= c.text_field :city, :placeholder => "Cupertino" %>
        </div>

        <div style="width:20%;">
          <%= c.label :state, "State" %>
          <%= c.text_field :state, :placeholder => "CA" %>
        </div>

        <div style="width:25%;">
          <%= c.label :postal_code, "Zip code" %>
          <%= c.text_field :postal_code, :placeholder => "95014" %>
        </div>
      </div>


      <%= c.label :country, "Country" %>
      <%= c.select :country, COUNTRIES.map { |d| [ d["name"], d["short_name"] ] }, :selected => "US" %>

    <% end %>
  </div>

  <%= f.submit "Share the love" %>
<% end %>
