<p id="notice"><%= notice %></p>

<div class="card-ellipsis card-ellipsis-top card-alone">…</div>

<div class="top">

  <% @chain.each_with_index do |introduction, index| %>
    <%= render :partial => 'card_row', :locals => {:introduction => introduction, :index => index} %>
  <% end %>

  <div class="card-preview">
    <img src="<%= image_url('card.png') %>" />
  </div>
</div>

<svg class="card-line">
  <path d="M200,0 L200,30" class="line"/>
</svg>

<%= form_for @introduction do |f| %>
  <% if @introduction.errors.any? %>
    <div class="error-explanation error-explanation-new">
      <h2><%= pluralize(@introduction.errors.count, "error") %> prohibited this from being saved:</h2>
      <ul>
      <% @introduction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @sender.errors.any? %>
    <div class="error-explanation error-explanation-new">
      <h2><%= pluralize(@sender.errors.count, "error") %> prohibited this from being saved:</h2>
      <ul>
      <% @sender.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="prompt">

    <% if @sender.get_referral_limit - @children.count > 0 %>
      <div class="bigcard">
        <%= f.hidden_field :template %>
        <%= f.label :content, 'Which friend inspires you? Whom do you want to be more like?', :class => "tip" %>
        <%= f.text_area :content, :rows => 2, :autocomplete => false %>

        <%= f.fields_for :sender, @sender do |c| %>
          <%= c.hidden_field :uuid %>
          <%= c.text_field :name, :autocomplete => false %>
        <% end %>
      </div>
    <% else %>
      <div class="bigcard disabled">
        <div class="bigcard-disabled-message">
          <div>You’ve sent your <%= @sender.get_referral_limit %> cards. <em>Thank you.</em></div>
          <%= mail_to REFERRAL_REQUEST_EMAIL, "Request more", subject: REFERRAL_REQUEST_SUBJECT, body: REFERRAL_REQUEST_BODY, class: "button" %>
        </div>
      </div>
    <% end %>

  </div>

  <% if @children.count > 0 %>
    <svg class="card-longline <%= "disabled" if @sender.get_referral_limit - @children.count <= 0 %>">
      <path d="M200,0 L200,180" class="line"/>
    </svg>
  <% end %>

  <div class="prompt-buttons">
    <% if @sender.get_referral_limit - @children.count > 0 %>

      <div class="progress">
        <div class="progress-message">Your cards: <%= @sender.get_referral_limit - @children.count %> remaining</div>

        <% if @sender.get_referral_limit == DEFAULT_REFERRAL_LIMIT %>
          <span class="progress-chicklet active"></span><span class="progress-chicklet <%= "active" if @children.count >= 1 %>"></span><span class="progress-chicklet <%= "active" if @children.count >= 2 %>"></span>
        <% end %>
      </div>

      <div class="template-picker">
        <div class="disabled">◀</div>
        <div>▶</div>
      </div>

      <div class="prompt-submit">
      <%= f.submit "Submit" %>
      </div>
    <% end %>
  </div>

  <div class="clear"></div>
<% end %>

<% if @children.count > 0 %>
<div class="cards cards-children">

  <div class="card-alone <%= "card-stack" if @children.count > 1 %>">
    <% @children.each do |card| %>
      <div class="card <%= "card-overlaid" if flash[:updated_key] and flash[:updated_key] == card.key %>" data-key="<%= card.key %>">
        <img src="<%= card.thumbnail %>"/>

        <% if flash[:updated_key] and flash[:updated_key] == card.key %>
          <div class="card-overlay">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0.8 -1.6 16.0 21.6">
                <path d="M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zm3 4.594l1.406 1.406-5.406 5.406-3.406-3.406 1.406-1.406 2 2 4-4z"/>
              </svg>Sent
            </div>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>

  <% @sender.introduced.each_with_rel do |recipient, card| %>
    <%= render :partial => 'card_text', :locals => {:recipient => recipient, :introduction => card} %>
  <% end %>

</div>
<div class="card-ellipsis card-ellipsis-top card-alone">…</div>
<% end %>

<!--<div class="progress">-->
  <!--Ⅰ/Ⅲ-->
<!--</div>-->

<!--<div class="progress">-->
  <!--<span class="progress-glyph" style="color: black;">a</span>-->
  <!--<span class="progress-glyph">a</span>-->
  <!--<span class="progress-glyph">a</span>-->
<!--</div>-->

<!--<div class="progress">
  <span class="progress-chicklet active"></span><span class="progress-chicklet"></span><span class="progress-chicklet"></span>
</div>
<div class="progess-label">Ⅰ / Ⅲ</div>-->

<%= render "footer" %>
