<p id="notice"><%= notice %></p>

<div class="card-ellipsis card-ellipsis-top card-alone">…</div>

<div class="top">
  <div class="cards">
    <img src="<%= image_url('card.png') %>" class="card card-alone" />
    <div class="card-text">
      <div class="card-head">Matt is a deeply genuine and thoughtful person.</div>
      <div class="card-subhead">#153 • april 21 •  <a href="mailto:<%=u '"Matt Foo"<matt@mattfoo.com>' %>">matt@mattfoo.com</a></div>
    </div>
  </div>

  <svg class="card-line">
    <path d="M200,0 L200,30" class="line"/>
  </svg>

  <div class="cards">
    <img src="<%= image_url('card.png') %>" class="card card-alone" />
    <div class="card-text">
      <div class="card-head">Alex is passionate and fearless: he inspires me to be ambitious.</div>
      <div class="card-subhead"> #159 • may 1 • <a href="mailto:<%=u '"Alex Lynn"<alexlynn@gmail.com>' %>">alexlynn@gmail.com</a></div>
    </div>
  </div>

  <svg class="card-line">
    <path d="M200,0 C200,20 90,10 90,30" class="line line-dashed" />
    <path d="M200,0 L200,30" class="line"/>
  </svg>

  <div class="cards">
    <div class="card-ellipsis card-ellipsis-side">…</div>
    <img src="<%= image_url('card.png') %>" class="card card-fadded" />
    <img src="<%= image_url('card.png') %>" class="card" />
    <div class="card-text">
      <div class="card-head">David is one of the most brilliant and creative people I've met.</div>
      <div class="card-subhead">#171 • may 8</div>
    </div>
  </div>

  <div class="card-preview">
    <img src="<%= image_url('card.png') %>" />
  </div>
</div>

<svg class="card-line">
  <path d="M200,0 L200,30" class="line"/>
</svg>

<%= form_for @introduction do |f| %>
  <% if @introduction.errors.any? %>
    <div class="error-explanation error-explanation-new">
      <h2><%= pluralize(@introduction.errors.count, "error") %> prohibited this from being saved:</h2>
      <ul>
      <% @introduction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @sender.errors.any? %>
    <div class="error-explanation error-explanation-new">
      <h2><%= pluralize(@sender.errors.count, "error") %> prohibited this from being saved:</h2>
      <ul>
      <% @sender.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="prompt">

    <div class="bigcard">
      <%= f.hidden_field :template %>
      <%= f.label :content, 'Which friend inspires you? Whom do you want to be more like?', :class => "tip" %>
      <%= f.text_area :content, :rows => 2, :autocomplete => false %>

      <%= f.fields_for :sender, @sender do |c| %>
        <%= c.hidden_field :uuid %>
        <%= c.text_field :name, :autocomplete => false %>
      <% end %>
    </div>

  </div>

  <!--<div class="prompt">

    <div class="prompt-inner">
    </div>

    </div>-->

  <% if @children.count > 0 %>
    <svg class="card-longline">
      <path d="M200,0 L200,180" class="line"/>
    </svg>
  <% end %>

  <div class="prompt-buttons">
    <div class="progress">
      <div class="progress-message">Ⅰ <em>of</em> Ⅲ</div>
      <div class="progress-cards">
        <div class="progress-active"></div>
        <div class="<%= "progress-active" if @children.count > 1 %>"></div>
        <div class="<%= "progress-active" if @children.count > 2 %>"></div>
      </div>
    </div>

    <div class="template-picker">
      <div class="disabled">◀</div>
      <div>▶</div>
    </div>

    <div class="prompt-submit">
    <%= f.submit "Submit" %>
    </div>
  </div>

  <div class="clear"></div>
<% end %>

<% if @children.count > 0 %>
<div class="cards cards-children">

  <div class="card-alone <%= "card-stack" if @children.count > 1 %>">
    <% @sender.introduced.each_with_rel do |_, card| %>
      <div class="card <%= "card-overlaid" if flash[:updated_key] and flash[:updated_key] == card.key %>" data-key="<%= card.key %>">
        <img src="<%= card.thumbnail %>"/>

        <% if flash[:updated_key] and flash[:updated_key] == card.key %>
          <div class="card-overlay">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0.8 -1.6 16.0 21.6">
                <path d="M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zm3 4.594l1.406 1.406-5.406 5.406-3.406-3.406 1.406-1.406 2 2 4-4z"/>
              </svg>Sent
            </div>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>

  <% @sender.introduced.each_with_rel do |recipient, card| %>
    <%= render :partial => 'card_text', :locals => {:recipient => recipient, :card => card} %>
  <% end %>

</div>
<% end %>

<!--<div class="progress">-->
  <!--Ⅰ/Ⅲ-->
<!--</div>-->

<!--<div class="progress">-->
  <!--<span class="progress-glyph" style="color: black;">a</span>-->
  <!--<span class="progress-glyph">a</span>-->
  <!--<span class="progress-glyph">a</span>-->
<!--</div>-->

<!--<div class="progress">
  <span class="progress-chicklet active"></span><span class="progress-chicklet"></span><span class="progress-chicklet"></span>
</div>
<div class="progess-label">Ⅰ / Ⅲ</div>-->

<%= render "footer" %>
