
<div class="me">


<div class="me-intro">
  <span class="leader">hi, i’m david</span> I build thoughtful, ambitious things with people that inspire me.

  <%= mail_to REFERRAL_REQUEST_EMAIL, "reach out", body: "Hey David—\n\nLet's catch up sometime.", class: "button me-button" %>
  <span class="button-companion"><span class="only-sf">Catch me in SF:<br>June 6 – June 14</span></span>
</div>
<!--early

important

something you use,


David is incredible. I can't wait for the day I get to work for him.

David is the most alive person I know.

David is thoughtful, ambitious and a force of nature.



David is . His personality inspires me to be great.

David’s attentiveness and fever in pursuing his intuitions inspire me.

David's earnest

vigilant

attentive

intuitions

-->

<!--<div class="me-cards">
  <div>
    <img src="<%= image_url('card.png') %>" class="card" /><div class="card-label card-label-left">#005</div>
  </div>

  <div>
    <img src="<%= image_url('card.png') %>" class="card" />
    <div class="card-label card-label-left">#115</div>
  </div>

  <div>
    <img src="<%= image_url('card.png') %>" class="card" />
    <div class="card-label card-label-left">#077</div>
  </div>

  <div>
    <img src="<%= image_url('card.png') %>" class="card" />
    <div class="card-label card-label-left">#191</div>
  </div>
  </div>-->

<div class="me-project">
  <p>
  <em>Who are your most interesting friends?</em> In 2014, I started asking the people around me.
  </p>

  <p>
  I wanted to follow the trail a few levels deeper: I considered a physical token that would be passed along. The military tradition of <a href="http://en.wikipedia.org/wiki/Challenge_coin">challenge coins</a> was particularly interesting.
  </p>

  <p>
  I also love the experience of witnessing being introduced to somebody else. In parallel, I was fascinated by chain letters.
  </p>

  <p>
  Inspired by those things—
  </p>

  <p style="margin-top: 20px;">
  This is Compliment Gossip. Built atop the <a href="http://neo4j.com/">Neo4j</a> graph database, fulfilled by <a href="https://lob.com/">Lob</a> and set in Playfair Display.
  </p>
</div>

</div>

<% if defined? MIXPANEL %>
  <script>
    mixpanel.track("Viewed about page");
  </script>
<% end %>
